.WordleTable{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
}

table{
    border: solid gray 2px;
    background-color: lightgray;
}

td{
    border: solid gray 2px;
    background-color: white;
    height: 10vh;
    width: 10vh;
    text-align: center;
    font-size: 4vmin;
}